{% extends 'base.html'%}
{% block content %}

<h3 class="center-align light-blue-text text-darken-4">Delete Category</h3>

<div class="row card-panel grey lighten-5">
    <p>Are you sure you want to delete the category: "{{category.category_name}}"?</p>
    <form class="col s12" action="{{ url_for('delete_category', category_id=category._id) }}" method="POST">
        <a class="btn-small light-blue lighten-1" href="{{ url_for('get_categories') }}">Cancel</a>
        <input class="btn-small red accent-4" type="submit" value="Delete">
    </form>
</div>

{% endblock %}